.likes {
    height: 100%;
    overflow: auto;

    .list-item {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        .item {
            position: relative;

            .image {
                width: 330px;
                height: 200px;
                cursor: pointer;
                border-radius: 5px;

                object-fit: cover;
            }

            .video {
                width: 330px;
                height: 200px;
                cursor: pointer;
                border-radius: 5px;

                background-color: var(--secondary-color);
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    padding: 40px;
                    text-align: center;
                }
            }

            .delete {
                display: none;
            }

            &:hover .delete {
                position: absolute;
                top: 12px;
                right: 12px;

                display: flex;
                justify-content: center;
                align-items: center;

                width: 47px;
                height: 47px;
                background: rgba(35, 44, 62, 0.6);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

.not-found {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-top: 5px;
    }

    img {
        margin-top: 40px;
    }
}
