@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto&display=swap");

:root {
    --primary-color: #0b3d91;
    --secondary-color: #d2d6d9;
    --bg-color: #fff;
    --text-color: #000;
    --text-title-color: #19418c;

    // buttons
    --button-background: #151418;
    --button-hover-background: #19418c;
    --button-text: #f5f5f5;
    --button-hover-text: #f5f5f5;

    //links
    --links-color: #151418;
    --links-hover-color: #19418c;
    --links-active-color: #19418C;
}

.dark-mode {
    --primary-color: #ffffff;
    --secondary-color: #212529;
    --bg-color: #151418;
    --text-color: #fff;
    --text-title-color: #ffce00;

    // buttons
    --button-background: #f5f5f5;
    --button-hover-background: #ffce00;
    --button-text: #222428;
    --button-hover-text: #222428;

    //links
    --links-color: #f5f5f5;
    --links-hover-color: #ffce00;
    --links-active-color: #ffce00;
}

.btnThemeMode {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding: 5px;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    line-height: 140%;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    color: var(--text-title-color);
}

p {
    line-height: 140%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

button,
input {
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

a {
    font-size: 1.2rem;
    color: var(--links-color);
    text-decoration: none;
    font-weight: 700;
    font-family: "Orbitron", sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);

    position: relative;

    .outlet {
        padding: 0 40px;
        height: 100%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    user-select: none;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider:before {
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    left: 5px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: 0.4s all ease;
}

input:checked + .slider {
    background-color: #f5f5f5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f5f5f5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #151418;
}

/* Rounded sliders */
.slider.round {
    display: flex;
    justify-content: space-evenly;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
