@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto&display=swap");

:root {
    --primary-color: #0b3d91;
    --secondary-color: #d2d6d9;
    --bg-color: #fff;
    --text-color: #000;
    --text-title-color: #19418c;
}

.dark-mode {
    --primary-color: #ffffff;
    --secondary-color: #212529;
    --bg-color: #151418;
    --text-color: #fff;
    --text-title-color: #ffce00;
}

.btnThemeMode {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding: 5px;
}

body,
html {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    color: var(--text-title-color);
}

p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

button,
input {
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);

    position: relative;

    .logo {
        padding: 40px;

        img {
            width: 110px;
        }
    }
}
